.modal__input {
  padding-left: 10px;
  box-sizing: border-box;
  display: block;
  width: 630px;
  height: 52px;
  margin-top: 8px;
  margin-bottom: 32px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  font-size: 20px;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 20px;
}

.modal__input:last-of-type {
  margin-bottom: 0;
}

.edit__name-label {
  font-size: 16px;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 17.6px;
}

.edit__description-label {
  font-size: 16px;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 17.6px;
}

.edit__save-button {
  margin-top: 32px;
  height: 52px;
  width: 156px;
  border-radius: 8px;
  color: #fcf5ef;
  background-color: #212121;
  font-size: 16px;
  font-family: Poppins, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 879px) {
  .modal__form {
    margin-left: 12px;
  }

  .modal__input {
    width: 276px;
    height: 48px;
    margin-bottom: 24px;
  }

  .modal__input:last-of-type {
    margin-bottom: 0;
  }

  .edit__save-button {
    width: 276px;
    height: 48px;
  }
}
