@font-face {
  font-family: "Poppins";
  font-style: medium;
  /* Replace with the appropriate font weight */
  font-weight: 500;
  /* Replace with the correct file path */
  src: url("./fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  src: url("./fonts/Poppins/Poppins-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  /* Replace with the appropriate font weight */
  font-weight: 400;
  /* Replace with the correct file path */
  src: url("./fonts/Poppins/Poppins-Black.ttf") format("truetype");
  src: url("./fonts/Poppins/Poppins-Light.ttf") format("truetype");
}

.copyright {
  padding-bottom: 80px;
  text-align: center;
  font-size: 16px;
  font-family: "Poppins", Arial;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
