.header__title {
  background-color: #fff;
  margin: 0 auto;
  width: 100%;
}

.header__image {
  padding: 10px 50%;
  padding-right: 0;
  height: 35px;
  width: 86px;
}

@media (max-width: 1255px) {
  .header__image {
    padding: 10px 42%;
  }
}
