.modal {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.modal__open {
  display: block;
  overflow: hidden;
}

.modal__container {
  background-color: #fff;
  width: 730px;
  height: 408px;
  position: absolute;
  top: 30%;
  left: 35%;
}

.modal__header {
  display: flex;
  justify-content: space-between;
}

.modal__title {
  margin: 32px 50px;
  font-size: 32px;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 32px;
}

.modal__close-button {
  margin: 32px 50px;
  height: 40px;
  width: 40px;
}

.modal__close-button:hover {
  cursor: pointer;
}

@media (min-width: 880px) and (max-width: 1320px) {
  .modal__container {
    top: 334px;
    left: 90px;
  }
}

@media (min-width: 320px) and (max-width: 879px) {
  .modal__container {
    height: 336px;
    width: 300px;
    top: 134px;
    left: 10px;
  }

  .modal__title {
    margin: 22px 12px;
    font-size: 20px;
    line-height: 20px;
  }

  .modal__close-button {
    margin: 12px 12px;
  }
}
