.modal {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

.modal__form {
  margin-left: 50px;
}

.modal_open {
  display: block;
  overflow: hidden;
}

.modal__container {
  margin: 0 auto;
  background-color: #fff;
  width: 730px;
  height: 408px;
  position: fixed;
  top: 50%;
  left: 25%;
}

.modal__header {
  display: flex;
  justify-content: space-between;
}

.modal__title {
  margin: 32px 50px;
  font-size: 32px;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 32px;
}

.modal__close-button {
  background-color: transparent;
  border: none;
  margin: 32px 50px;
  height: 40px;
  width: 40px;
}

.modal__close-button:hover {
  cursor: pointer;
}

.modal__input {
  padding-left: 10px;
  box-sizing: border-box;
  display: block;
  width: 630px;
  height: 52px;
  margin-top: 8px;
  margin-bottom: 32px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  font-size: 20px;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 20px;
}

.modal__input:last-of-type {
  margin-bottom: 0;
}

.modal__name-label {
  font-size: 16px;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 17.6px;
}

.modal__description-label {
  font-size: 16px;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 17.6px;
}

.modal__save-button {
  margin-top: 32px;
  height: 52px;
  width: 156px;
  border-radius: 8px;
  color: #fcf5ef;
  background-color: #212121;
  font-size: 16px;
  font-family: Poppins, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  cursor: pointer;
}

@media (min-width: 880px) and (max-width: 1320px) {
  .modal {
    height: 1750px;
  }

  .modal__container {
    top: 50vh;
    left: 10%;
  }

  .modal__input {
    width: 95%;
  }
}

@media (min-width: 320px) and (max-width: 879px) {
  .modal {
    height: 2575px;
  }

  .modal__container {
    height: 336px;
    width: 300px;
    top: 50wh;
    left: 5%;
  }

  .modal__title {
    margin: 22px 12px;
    font-size: 20px;
    line-height: 20px;
  }

  .modal__close-button {
    margin: 12px 12px;
  }

  .modal__form {
    margin-left: 12px;
  }

  .modal__input {
    width: 276px;
    height: 48px;
    margin-bottom: 24px;
  }

  .modal__save-button {
    width: 276px;
    height: 48px;
  }
}
