.modal {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__form {
  margin-left: 50px;
}

.modal_open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  background-color: #fff;
  width: 730px;
}

.modal__image-viewer-container {
  max-width: 95vw;
  position: relative;
  padding: 0;
}

.modal__image-viewer-selected {
  max-height: 80vh;
  max-width: 100%;
  justify-self: end;
  align-self: start;
  grid-column-start: 1;
  grid-row-start: 1;
  border-radius: 8px;
}

.modal__image-viewer-selected-author {
  display: block;
  width: fit-content;
  padding: 4px 8px;
  background-color: #212121;
  color: #fff;
  font-family: Poppins, Arial, sans-serif;
  align-self: flex-start;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.modal__header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__header-section-title {
  margin: 32px 50px;
  font-size: 32px;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 32px;
}

.modal__header-section-close-button {
  background-image: url("../images/Close-modal.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.modal__header-section-close-button:hover {
  background-image: url("../images/Close-modal-hover.svg");
}

.modal__header-section-close-button_position {
  margin: 32px 50px;
}

.modal__image-viewer-close-button {
  background-image: url("../images/Close-image-modal-default.svg");
  grid-column-start: 2;
  grid-row-start: 1;
  justify-self: start;
  align-items: end;
  position: absolute;
  top: 0;
  right: -40px;
}

.modal__image-viewer-close-button:hover {
  background-image: url("../images/Close-image-modal-hover.svg");
}

.modal__input {
  padding-left: 10px;
  box-sizing: border-box;
  display: block;
  width: 630px;
  height: 52px;
  margin-top: 8px;
  margin-bottom: 32px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  font-size: 20px;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.modal__input:last-of-type {
  margin-bottom: 0;
}

.modal__name-label {
  font-size: 16px;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 17.6px;
}

.modal__description-label {
  font-size: 16px;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 17.6px;
}

.modal__save-button {
  margin-top: 32px;
  margin-bottom: 46px;
  height: 52px;
  width: 156px;
  border-radius: 8px;
  color: #fcf5ef;
  opacity: 1;
  background-color: #212121;
  font-size: 16px;
  font-family: Poppins, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}

.modal__save-button:hover {
  opacity: 0.8;
}

.modal__form-image-label {
  font-size: 16px;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 17.6px;
}

.modal__form-post-caption-label {
  font-size: 16px;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 17.6px;
}

@media (min-width: 880px) and (max-width: 1320px) {
  .modal__container {
    top: 50vh;
    left: 10%;
  }

  .modal__input {
    width: 95%;
  }
}

@media (min-width: 320px) and (max-width: 879px) {
  .modal__container {
    width: 300px;
    height: 336px;
    width: 95%;
  }

  .modal__image_viewer-selected {
    max-width: 288px;
    width: 100%;
    height: 192px;
    border-radius: 4px;
  }

  .modal__image-viewer-close-button {
    top: -50px;
    right: -20px;
  }

  .modal__header-section-title {
    margin: 12px 12px 24px;
    font-size: 20px;
    line-height: 20px;
  }

  .modal__header-section-close-button {
    margin: 12px 12px 24px;
  }

  .modal__form {
    margin-left: 12px;
  }

  .modal__form-image-label {
    font-size: 16px;
    line-height: 17.5px;
  }

  .modal__input {
    width: 97%;
    height: 48px;
    margin-bottom: 24px;
  }

  .modal__save-button {
    width: 97%;
    height: 48px;
  }
}
