.post {
  margin: 0 0 40px;
}

.post__image-section {
  position: relative;
}

.post__image {
  height: 413px;
  width: 413px;
  border-radius: 8px;
  cursor: pointer;
}

.post__delete {
  height: 32px;
  width: 32px;
  position: absolute;
  top: 10px;
  left: 373px;
  cursor: pointer;
  background-image: url("../images/Delete-Icon-default.svg");
  background-repeat: no-repeat;
}

.post__delete:hover {
  background-image: url("../images//Delete-Icon-hover.svg");
}

.post__like {
  height: 20px;
  width: 32px;
  margin: 10px 0 0;
  cursor: pointer;
  font-weight: 500;
  background-image: url("../images/Like-Icon-default.svg");
  background-repeat: no-repeat;
}

.post__like:hover {
  background-image: url("../images/Like-Icon-liked-hover.svg");
  background-repeat: no-repeat;
}

.post__like_liked {
  height: 20px;
  width: 32px;
  cursor: pointer;
  font-weight: 500;
  background-image: url("../images/Like-Icon-liked.svg");
  background-repeat: no-repeat;
}

.post__details {
  width: 413px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
}

.post__author {
  max-width: 413px;
  margin: 0;
  padding: 10px 0 0;
  color: #212121;
  font-size: 20px;
  font-family: Poppins, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (min-width: 880px) and (max-width: 1320px) {
  .post__author {
    font-size: 16px;
    line-height: 16px;
    width: 383px;
  }

  .post__details {
    max-width: 352px;
    font-size: 16px;
    line-height: 20px;
  }

  .post__image {
    height: 352px;
    width: 352px;
  }

  .post__delete {
    left: 305px;
  }
}
@media (min-width: 320px) and (max-width: 412px) {
  .post {
    max-width: 320px;
    margin-bottom: 20px;
  }

  .post__image {
    margin: 0 auto;
    height: 288px;
    width: 288px;
  }

  .post__delete {
    left: 243px;
  }

  .post__details {
    max-width: 288px;
    margin: 0;
    width: 100%;
  }

  .post__author {
    width: 290px;
    font-size: 16px;
    line-height: 16px;
  }
}
