.posts {
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr max-content;
}

@media (max-width: 1255px) {
  .posts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
