.post {
  margin: 0;
}

.post__image {
  height: 413px;
  width: 413px;
  border-radius: 8px;
}

.post__like {
  height: 20px;
  width: 23px;
  padding: 10px 0 30px;
  opacity: 0.4;
  cursor: pointer;
}

.post__like:hover {
  content: url("../images/Like-icon-hover.svg");
}

.post__details {
  width: 413px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post__author {
  margin: 0;
  padding: 10px 0 30px;
  color: #212121;
  font-size: 20px;
  font-family: Poppins, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

@media (max-width: 1255px) {
  .post__author {
    font-size: 16px;
    line-height: 16px;
  }
}

@media (max-width: 320px) {
  .post {
    max-width: 320px;
  }

  .post__image {
    height: 288px;
    width: 288px;
  }

  .post__details {
    width: 100%;
  }
}
