.posts {
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr max-content;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

@media (min-width: 880px) and (max-width: 1320px) {
  .posts {
    max-width: 800px;
    grid-template-columns: 1fr max-content;
    grid-column-gap: 20px;
  }
}

@media (min-width: 320px) and (max-width: 879px) {
  .posts {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
