.post {
  margin: 0 0 40px;
}

.post__image-section {
  position: relative;
}

.post__image {
  height: 413px;
  width: 413px;
  border-radius: 8px;
  cursor: pointer;
}

.post__image_viewed {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
}

.post__image-section_viewer-open {
  display: block;
  overflow: hidden;
}

.post__image_selected {
  height: 661px;
  width: 991.5px;
  position: fixed;
  top: 15vh;
  left: 25vw;
}

.post__image-close-button {
  position: fixed;
  top: 15vh;
  left: 78vw;
  cursor: pointer;
}

.post__delete {
  position: absolute;
  top: 10px;
  left: 373px;
  z-index: 10;
  cursor: pointer;
  z-index: 1;
}

.post__like-button {
  background-color: transparent;
  border: none;
}

.post__like {
  height: 20px;
  width: 23px;
  padding: 10px 0 0;
  opacity: 0.4;
  cursor: pointer;
  font-weight: 500;
}

.post__like:hover {
  opacity: 1;
}

.post__like_liked {
  height: 20px;
  width: 23px;
  padding: 10px 0 0;
  cursor: pointer;
  font-weight: 500;
  opacity: 1;
}

.post__like_liked-hover {
  cursor: pointer;
}

.post__details {
  width: 413px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
}

.post__author {
  max-width: 413px;
  margin: 0;
  padding: 10px 0 0;
  color: #212121;
  font-size: 20px;
  font-family: Poppins, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (min-width: 880px) and (max-width: 1320px) {
  .post__author {
    font-size: 16px;
    line-height: 16px;
  }

  .post__details {
    max-width: 352px;
    font-size: 16px;
    line-height: 20px;
  }

  .post__image {
    height: 352px;
    width: 352px;
  }
}
@media (min-width: 320px) and (max-width: 412px) {
  .post {
    max-width: 320px;
    margin-bottom: 20px;
  }

  .post__image {
    margin: 0 auto;
    height: 288px;
    width: 288px;
  }
  .post__details {
    max-width: 288px;
    margin: 0;
    width: 100%;
  }

  .post__author {
    font-size: 16px;
    line-height: 16px;
  }
}
