.profile {
  box-sizing: border-box;
  max-width: 1440px;
  display: grid;
  grid-template-columns: 13% auto auto;
  grid-template-rows: auto auto auto;
  grid-gap: 20px;
  grid-row-gap: 0;
  margin: 34px auto 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.profile__title {
  max-width: 420px;
  margin: 0 0 12px;
  padding-left: 20px;
  width: 100%;
  grid-column-start: 2;
  grid-row-start: 1;
  align-self: start;
  color: #212121;
  font-size: 32px;
  font-family: Poppins, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__subtitle {
  max-width: 420px;
  margin: 0;
  padding-left: 20px;
  width: 100%;
  grid-column-start: 2;
  grid-row-start: 2;
  color: rgba(33, 33, 33, 0.7);
  align-self: end;
  font-size: 16px;
  font-family: Poppins, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__image {
  grid-row: span 3;
  align-self: start;
  grid-column-start: 1;
  grid-column-end: 1;
  height: 100%;
  width: 190px;
}

.profile__button {
  width: 130px;
  border: none;
  padding: 0;
  background-color: transparent;
  grid-column-start: 2;
  grid-row-start: 3;
  align-self: end;
  text-align: start;
  cursor: pointer;
  color: #212121;
  opacity: 0.7;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 16px;
  transition: opacity 0.2s ease-in-out;
}

.profile__edit {
  margin-left: 20px;
  padding-right: 8px;
  grid-column-start: 2;
  grid-row-start: 3;
  align-self: end;
}

.profile__button:hover {
  opacity: 1;
}

.profile__post-button {
  width: 149px;
  height: 52px;
  background-color: #212121;
  opacity: 1;
  color: #fcf5e5;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
  justify-self: end;
  align-self: end;
  border: none;
  font-family: Poppins, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.profile__post-button:hover {
  opacity: 0.8;
}

@media (min-width: 880px) and (max-width: 1320px) {
  .profile {
    max-width: 800px;
    grid-template-columns: 20% auto auto;
  }
}

@media (min-width: 320px) and (max-width: 879px) {
  .profile {
    margin-top: 20px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile__title {
    max-width: 320px;
    padding-left: 0;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  .profile__subtitle {
    max-width: 320px;
    margin-bottom: 32px;
    text-align: center;
    padding-left: 0;
  }

  .profile__image {
    margin: 0 auto 12px;
    height: 80px;
    width: 80px;
  }

  .profile__button {
    margin: 0 auto 12px;
  }

  .profile__post-button {
    margin: 0 auto;
    width: 288px;
  }
}
