@import url("../vendor/normalize.css");
@import url("../styles/page.css");
@import url("../styles/header.css");
@import url("../styles/profile.css");
@import url("../styles/post.css");
@import url("../styles/footer.css");

@font-face {
  font-family: "Poppins";
  font-style: bold;
  /* Replace with the appropriate font weight */
  font-weight: 500;
  /* Replace with the correct file path */
  src: url("./fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  src: url("./fonts/Poppins/Poppins-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  /* Replace with the appropriate font weight */
  font-weight: 400;
  /* Replace with the correct file path */
  src: url("./fonts/Poppins/Poppins-Black.ttf") format("truetype");
  src: url("./fonts/Poppins/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: light;
  /* Replace with the appropriate font weight */
  font-weight: 200;
  /* Replace with the correct file path */
  src: url("./fonts/Poppins/Poppins-Light.ttf") format("truetype");
}
